/** font **/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/** Reset **/
ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}
/** Header **/
header {
  display: flex;
  justify-content: space-around;
}

#navbar {
  display: flex;
  font-size: 13px;
  cursor: pointer;
  padding: 0;
}

#navbar > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#dc-logo > img {
  height: 60px;
  width: 60px;
}

#navbar > ul > li {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  padding-top: 37px;
}

#navbar > ul > li:hover {
  color: #0282f9;
  border-bottom: 4px solid #0282f9;
}

#navbar > ul > li:hover a {
  color: #0282f9;
}

.active {
  color: #0282f9;
}

.active-bar {
  border-bottom: 4px solid #0282f9;
}
/** Main **/

#jumbotron {
  background-image: url(../../../public/jumbotron.jpg);
  background-position: top;
  background-size: cover;
  min-height: 370px;
  position: relative;
}

#jumbotron > button {
  position: absolute;
  background-color: #0282f9;
  font-size: 23px;
  font-weight: bolder;
  width: 250px;
  border: none;
  height: 60px;
  bottom: 0;
  transform: translate(65%, 50%);
}

#comics > button {
  width: 250px;
  background-color: #0282f9;
  font-weight: bold;
  font-size: 20px;
  border: none;
}

#adds-on > div {
  color: white;
  min-height: 150px;
  line-height: 150px;
}

.wrapper {
  overflow: hidden;
  aspect-ratio: 1;
}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

#comics > .row > .col:first-child img,
#comics > .row > .col:last-child img {
  transform: scale(1.6) translateY(-10%);
  transform-origin: top center;
}

.col > img {
  height: 50px;
}

.col > .last-img {
  height: 35px;
}

/** Footer **/

#about-us {
  background-image: url(../img/footer-bg.jpg);
  height: 400px;
  background-position: top;
  background-size: cover;
}

#about-us > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.links {
  min-height: 200px;
  display: flex;
  color: white;
  justify-content: space-around;
  width: 35%;
  font-size: 13px;
}

.dc-comics > ul,
.shop > ul,
.dc > ul,
.sites > ul {
  padding-left: 0;
}

#socials {
  min-height: 100px;
  color: white;
}

.bg-img > img {
  height: 600px;
  width: 600px;
}

#socials > div {
  display: flex;
  justify-content: space-between;
}

#social-media {
  display: flex;
  align-items: center;
}

#social-media > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#social-media > ul > li {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

button {
  height: 55px;
  width: 150px;
  color: white;
  background-color: transparent;
}

#social-media > ul > li > img {
  width: 40px;
  height: 40px;
}

p {
  margin-bottom: 0;
}
