/** Reset **/
ul {
  list-style: none;
}
/** Header **/
header {
  display: flex;
  justify-content: space-around;
}

#navbar {
  display: flex;
}

#navbar > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#dc-logo > img {
  height: 60px;
  width: 60px;
}

#navbar > ul > li {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

/** Main **/

#contents > div {
  color: white;
  min-height: 150px;
  line-height: 150px;
}

#adds-on > div {
  color: white;
  min-height: 150px;
  line-height: 150px;
}

.col > img {
  height: 50px;
  width: 40px;
}

/** Footer **/

#about-us {
  background-image: url(../img/footer-bg.jpg);
  height: 400px;
  background-position: top;
  background-size: cover;
}

#about-us > div {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  overflow: hidden;
}

.links {
  width: 400px;
  height: 200px;
}

#socials {
  height: 200px;
  color: white;
}

.bg-img > img {
  height: 600px;
  width: 600px;
}

#socials > div {
  display: flex;
  justify-content: space-around;
}

#social-media > ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#social-media > ul > li {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

button {
}
